<div class="coming-soon">
  <div class="coming-soon__content">
    <div class="coming-soon__card">
      <div class="coming-soon__icon-wrapper">
        <div class="coming-soon__icon"></div>
      </div>
      <h1 class="coming-soon__title">{{ featureName() | titlecase }} Coming Soon</h1>
      <p class="coming-soon__description">
        We're currently perfecting this feature to provide you with the best possible experience.
      </p>
      <div class="coming-soon__actions">
        <button mat-flat-button class="coming-soon__back-btn" routerLink="/dashboard">
          <mat-icon>arrow_back</mat-icon>
          Back to Dashboard
        </button>
      </div>
    </div>
  </div>
</div>
