@use '@gbxm/styles/_variables.scss' as *;

.layout {
    height: calc(100vh - 72px);
    box-sizing: border-box;

    &__sidenav {
        width: 264px;
        max-width: 264px;
        border-right: 0;
        background: $color-surface-inverse;
        overflow: hidden;
        border-radius: 0px;
        height: 100%;
    }

    &__content {
        background: #f6f7f9;
        position: relative;
    }

    &__open-handle {
        position: fixed;
        left: 0;
        top: 78px;
        width: 18px;
        height: 36px;
        background-color: $color-surface-muted;
        border: none;
        border-radius: 0 50px 50px 0;
        color: $color-text-panel-title;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);

        mat-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            margin-right: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    main {

        min-height: 100%;
        padding: 16px;
        margin: 0;
        box-sizing: border-box;
    }
}