@use '@gbxm/styles/_variables.scss' as *;

.layout {
	height: calc(100vh - 72px);

	&__sidenav {
		width: 280px;
		border-right: 0;
		background: $color-surface-inverse;
	}

	&__content {
		background: #f6f7f9;
	}

	main {
		min-height: 100%;
		padding: 16px;
	}
}
