<div class="dialog-header" mat-dialog-title>
  <span>{{ data.title }}</span>
  <button mat-icon-button mat-dialog-close class="dialog-close-btn" matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="dialog-content">
  <app-profile-form
    [mode]="data.mode"
    [profileData]="data.profile"
    (formSaved)="onFormSaved()"
    (formSubmitted)="onFormSubmitted()"
    (emailLinkClicked)="onEmailLinkClicked()"
    (profileVerified)="onProfileVerified()"
    (profileRejected)="onProfileRejected()"
  />
</mat-dialog-content>
