@if (viewState() === 'table') {
  <header class="card__header">
    <h2>Add Pick Lists</h2>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="onBrowseFile()"
      [disabled]="!selectedCampaign()"
    >
      Browse File
    </button>
  </header>

  <app-campaign-filter
    [campaigns]="campaigns()"
    [showCampaignSelect]="true"
    (filtersChange)="onFiltersChange($event)"
  />

  <app-generic-table
    [columns]="columns"
    [data]="tableData()"
    [actions]="tableActions"
    [pageSizeOptions]="pageSizeOptions"
    [defaultPageSize]="10"
    [mobileBreakpoint]="720"
    class="pick-lists__gt"
  />
}

@if (viewState() === 'property-view') {
  <div class="detail-view__header">
    <button mat-button class="back-btn" type="button" (click)="backToTable()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <h2 class="detail-view__title">Property View</h2>
    <button mat-flat-button color="primary" type="button">Add</button>
  </div>

  <mat-divider />

  <div class="property-view__filters">
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="property-view__filter-field"
    >
      <mat-label>Select Campaign Name</mat-label>
      <mat-select
        [value]="propertyViewCampaignId()"
        (selectionChange)="onPropertyViewCampaignChange($event.value)"
      >
        @for (c of campaigns(); track c.id) {
          <mat-option [value]="c.id">{{ c.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="property-view__filter-field"
    >
      <mat-label>Select Campaign Number</mat-label>
      <mat-select
        [value]="propertyViewCampaignId()"
        (selectionChange)="onPropertyViewCampaignChange($event.value)"
      >
        @for (c of campaigns(); track c.id) {
          <mat-option [value]="c.id">{{ c.id }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <app-generic-table
    [columns]="propertyViewColumns"
    [data]="propertyViewData()"
    [actions]="propertyViewActions"
    [pageSizeOptions]="pageSizeOptions"
    [searchable]="true"
    [exportable]="true"
    [defaultPageSize]="10"
    [mobileBreakpoint]="720"
  />
}
