@if (viewState() === 'table') {
  <header class="card__header">
    <h2>Add Pick Lists</h2>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="onBrowseFile()"
      [disabled]="!selectedCampaign()"
    >
      Browse File
    </button>
  </header>

  <app-generic-table
    [columns]="columns"
    [data]="tableData()"
    [actions]="tableActions"
    [pageSizeOptions]="pageSizeOptions"
    [defaultPageSize]="10"
    [mobileBreakpoint]="720"
    class="pick-lists__gt"
  >
    <app-campaign-filter
      [campaigns]="campaigns()"
      [showCampaignSelect]="true"
      (filtersChange)="filters.set($event)"
    />
  </app-generic-table>
}

@if (viewState() === 'property-view') {
  <div class="detail-view__header">
    <button mat-button class="back-btn" type="button" (click)="backToTable()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <h2 class="detail-view__title">Property View</h2>
    <button mat-flat-button color="primary" type="button" (click)="onAddProperty()">Add</button>
  </div>

  <app-generic-table
    [columns]="propertyViewColumns"
    [data]="propertyViewData()"
    [actions]="propertyViewActions"
    [pageSizeOptions]="pageSizeOptions"
    [searchable]="true"
    [exportable]="true"
    [selectable]="true"
    [defaultPageSize]="10"
    [mobileBreakpoint]="720"
  />
}

@if (viewState() === 'property-details') {
  <app-property-details
    [hotel]="selectedHotel()"
    [campaign]="propertyViewCampaign()"
    (backClicked)="backToPropertyView()"
  />
}
