<header class="card__header">
	<h2>All Campaigns</h2>
</header>

<form class="campaigns__filters" aria-label="Campaign filters" [formGroup]="filtersForm">
	<div class="filters__layout">
		<div class="filters__group filters__group--operator">
			<span class="filters__label">Select Operator</span>
			<mat-form-field class="filters__field" appearance="outline" subscriptSizing="dynamic">
				<mat-select formControlName="operatorId">
					<mat-option value="all">All Operators</mat-option>
					<mat-option value="operator-1">Operator 1</mat-option>
					<mat-option value="operator-2">Operator 2</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="filters__group filters__group--type">
			<span class="filters__label">Campaign Type</span>
			<mat-radio-group class="radio-pills" aria-label="Campaign type" formControlName="typeKey">
				<mat-radio-button value="all">All</mat-radio-button>
				<mat-radio-button value="agent">Agent</mat-radio-button>
				<mat-radio-button value="brand">Brand/syndicate</mat-radio-button>
				<mat-radio-button value="geo">Geographic</mat-radio-button>
				<mat-radio-button value="thematic">Thematic</mat-radio-button>
			</mat-radio-group>
		</div>

		<div class="filters__group filters__group--view">
			<mat-checkbox formControlName="viewNoPickLists">View No Pick Lists</mat-checkbox>
		</div>
	</div>
</form>

<app-generic-table
	[columns]="columns"
	[data]="tableData()"
	[actions]="campaignActions"
	[selectable]="true"
	[exportable]="true"
	[exportFileName]="'campaigns'"
	[pageSizeOptions]="pageSizeOptions"
	[defaultPageSize]="10"
	[mobileBreakpoint]="720"
	[searchable]="true"
	class="campaigns__gt"/>
