@if (viewState() === 'table') {
  <header class="card__header">
    <h2>My Campaigns</h2>
  </header>

  <app-generic-table
    [columns]="columns"
    [data]="tableData()"
    [actions]="tableActions"
    [pageSizeOptions]="pageSizeOptions"
    [searchable]="true"
    [exportable]="true"
    [selectable]="true"
    [defaultPageSize]="10"
    [mobileBreakpoint]="720"
  >
    <app-campaign-filter
      [showOperator]="false"
      [showType]="true"
      [showStatus]="true"
      [showViewNoPickLists]="false"
      (filtersChange)="filters.set($event)"
    />
  </app-generic-table>
}

@if (viewState() === 'campaign-details') {
  <div class="detail-view__header">
    <button mat-button class="back-btn" type="button" (click)="backToTable()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <h2 class="detail-view__title">
      {{ selectedCampaign()!.name }} {{ selectedCampaign()!.id }} detail view
    </h2>
  </div>

  <mat-divider />

  <app-generic-table
    [columns]="campaignDetailColumns"
    [data]="campaignDetailData()"
    [actions]="campaignDetailActions"
    [pageSizeOptions]="[5, 10, 25]"
    [defaultPageSize]="10"
    [mobileBreakpoint]="720"
  />
}
