@use '@gbxm/styles/_variables.scss' as *;
@use '@gbxm/styles/_header-card.scss' as *;

.card__header {
  margin-bottom: 0;
  justify-content: start;
}
.back-btn {
  color: $color-text-muted;
  --mdc-text-button-label-text-color: #{$color-text-muted};
  padding: 0 $spacing-2;
  margin-right: $spacing-1;

  mat-icon {
    font-size: $font-size-lg;
    width: $font-size-lg;
    height: $font-size-lg;
    margin-right: 2px;
  }
}

.edit-profile-body {
  padding: 24px;

  @media (max-width: 767px) {
    padding: 16px;
  }
}
