/* You can add global styles to this file, and also import other style files */
@use './styles/variables';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Mat drawer scroll tuning */
.mat-drawer-inner-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    width: 8px;
}

.mat-drawer-inner-container::-webkit-scrollbar-track {
    background: transparent;
}

.mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}